# conda environment description file for AtlantisCmd package development environment
#
# Create a conda environment for development, testing and documentation of the package
# with:
#
#   $ conda env create -f AtlantisCmd/envs/environment-dev.yaml
#   $ source activate atlantis-cmd
#   (atlantis-cmd)$ python -m pip install --editable NEMO-Cmd/
#   (atlantis-cmd)$ python -m pip install --editable AtlantisCmd/
#
# See the envs/requirements.txt file for an exhaustive list of all the
# packages installed in the environment and their versions used in
# recent development.

name: atlantis-cmd

channels:
  - conda-forge
  - nodefaults

dependencies:
  - arrow
  - cliff
  - cookiecutter
  - f90nml
  - gitpython
  - pip
  - python=3.14
  - pyyaml

  # For coding style, repo QA, and pkg management
  - black
  - hatch
  - pre-commit

  # For unit tests
  - coverage
  - pytest-cov
  - pytest-randomly

  # For documentation
  - sphinx==8.1.3
  - sphinx-notfound-page==1.0.4
  - sphinx-rtd-theme==3.0.0

  - pip:
    - python-hglib
